@font-face {
    font-family: "W95FA";
    src: url("/font.php?v=4e746b0c") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: "W95FA";
    src: url("/font.php?v=4e746b0c") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: block;
}

:root,
html,
body,
body *,
body *::before,
body *::after,
button,
input,
select,
textarea {
    font-family: "W95FA", "MS Sans Serif", "Microsoft Sans Serif", Tahoma, Geneva, Arial, sans-serif !important;
    font-synthesis: none;
}
